
.searchInput::placeholder {
    color: gray;
    animation: cursorBlink 1s steps(2, start) infinite;
  }
  
  @keyframes cursorBlink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  