:root {
  --color-blue: #3c59f2;
  --color-primary: #4441cf;
  /* --color-violet: #6a1cc8; */
  --color-pink: #d52bbd;
  --color-secondary: #fb8919;
  --color-dark: #07031c;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #524f62;
  --color-dark-gray: #1d1a2d;
  --color-light-gray: #c0c2c1;
  --color-dynamic-gray: #bfbfbf;
}

body {
  position: relative;
}

.homeWindow {
  gap: 3rem;
  width: 100%;
  height: 60%;
  display: flex;
  padding: 5.7rem 0 3.4rem;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(233, 234, 251, 1);
  overflow-y: scroll;
  position: relative;
}

.homeWindow .topBar {
  width: 100%;
  height: 3.5rem;
  display: flex;
  padding: 0 8%;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: #010035;
}

.homeWindow .topBarIcons {
  width: 3.5rem;
  height: 3.5rem;
}

.homeWindow .mainHeading {
  font-size: 1.6rem;
}

.homeWindow .middleContainer {
  margin-top: 1.5%;
  display: flex;
  padding: 0 8%;
  align-self: stretch;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5rem 6rem;
}

.homeWindow .newBrandleftBox {
  gap: 3.3rem;
  width: 25%;
  height: 20rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}

.homeWindow .newBrandLeftTop {
  height: 6rem;
  width: 100%;
  display: flex;
  padding: 2rem 2rem;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.homeWindow .newBrandLeftTop .lauchDashboardText {
  color: #ffffff;
}
.homeWindow .newBrandbutton {
  gap: 2.8rem;
  width: 100%;
  height: 3.4rem;
  display: flex;
  padding: 0.8rem 1rem;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.6rem;
  justify-content: space-between;
  background-color: rgba(1, 0, 53, 1);
  cursor: pointer;
}

.homeWindow .newBrandIcon {
  width: 10%;
  aspect-ratio: 1/1;
}

.homeWindow .newBrandBanner {
  width: 100%;
  height: 45%;
  border-radius: 1.5rem;
}

.homeWindow .brandingDetailsArea {
  display: flex;
  width: 60%;
}

.homeWindow .brandingDetailsBox {
  /* gap: 2.3rem; */
  width: 28%;
  display: flex;
  padding: 1.7rem 2.6rem;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}

.homeWindow .brandtitleArea {
  gap: 1.3rem;
  height: 3.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 4%;
}

.homeWindow .home-mdibadge {
  width: 2.5rem;
  height: 2.5rem;
}

.homeWindow .brandTitle {
  color: rgba(0, 0, 0, 1);
  font-size: 1.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;
  text-wrap: nowrap;
  line-height: 1.4;
}

.homeWindow .brandingDetails {
  gap: 1rem;
  height: 5.6rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 32%;
}

.homeWindow .branddiscription {
  gap: 0.7rem;
  height: 2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.homeWindow .elipsesCircle {
  width: 0.4rem;
  height: 0.4rem;
}

.homeWindow .brandDetails {
  color: rgba(42, 42, 42, 1);
  font-size: 0.8rem;
}

.homeWindow .dashboardButton {
  gap: 1.6rem;
  height: 2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.homeWindow .launchDashboardBtn {
  width: 15rem;
  height: 3rem;
  display: flex;
  padding: 1.1rem 1.5rem;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(1, 0, 53, 1);
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.4rem;
  justify-content: space-between;
  cursor: pointer;
}

.homeWindow .lauchDashboardText {
  color: rgba(1, 0, 53, 1);
  height: auto;
  font-size: 0.8rem;
}

.homeWindow .branchDetailsBox {
  width: 26.4rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.homeWindow .branchButton {
  width: 13rem;
  height: 3rem;
  display: flex;
  padding: 0.5rem 0.8rem;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(1, 0, 53, 1);
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.4rem;
  justify-content: space-between;
  cursor: pointer;
}

.homeWindow .subbranchTitle {
  color: rgba(1, 0, 53, 1);
  height: auto;
  font-size: 1.2rem;
  text-align: center;
}

.homeWindow .branchIcon {
  width: 1.4rem;
  height: 1.4rem;
}

.homeWindow .subbranchDashboard {
  color: #000;
  height: auto;
  font-size: 1.05rem;
}

.homeWindow .launchNewBranch {
  background-color: #ededed;
  border: none;
}
.homeWindow .launchNewBranch span {
  color: #000;
}

.homeWindow .isAccountHold {
  background-color: #010035;
  color: #ffffff;
}

.homeWindow .companyNote {
  color: #666666;
  height: auto;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 5%;
  line-height: 1.3;
  padding: 0% 6%;
}

.homeWindow .framespikHeading {
  color: rgba(102, 102, 102, 1);
  width: 101.2rem;
  height: auto;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.4;
}

/* Welcome container */

.homeWindow .welcomeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homeWindow .welcomeContainer .leftArea {
  width: 28%;
  height: 100%;
  padding: 2%;
  background-color: #fff;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.homeWindow .welcomeContainer .leftArea > img {
  width: 100%;
  object-fit: contain;
}

.homeWindow .welcomeContainer .leftArea .watchVideoButton {
  background-color: #000;
  padding: 3%;
  color: #fff;
  width: fit-content;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.homeWindow .welcomeContainer .leftArea .watchVideoButton i {
  font-size: inherit;
}

.homeWindow .welcomeContainer .rightArea {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.homeWindow .welcomeContainer .rightArea .diskOpenBox {
  width: 37%;
}
.homeWindow .welcomeContainer .rightArea .heading {
  font-size: 3.5rem;
  line-height: 1.55;
}

.homeWindow .welcomeContainer .rightArea .getStartButton {
  background-color: transparent;
  padding: 2% 3%;
  color: #000000;
  width: fit-content;
  font-size: 1.4rem;
  cursor: pointer;
  border: 1px solid #000;
  margin-top: 11%;
}

.homeWindow .welcomeContainer .rightArea .getStartButton i {
  font-size: inherit;
}
