@media (min-width:768px) and (max-width: 1199px) {
    .getStartedBlock{
        margin-top: 2.5rem !important;
    }
}

@media (min-width:768px) and (max-width: 1024px) {
    .dataBackupGetstarted{
        margin-top: 4.7rem !important;
    }
}


@media (min-width:1025px) and (max-width: 1200px) {
    .dataBackupGetstarted{
        margin-top: 4.7rem !important;
    }
}
